ul {
  border-bottom: 3px solid var(--color-white);

  .divTitle {
    margin-top: 80px;

    h1 {
      font-size: 45px;
      font-family: var(--font-family);
      color: var(--gray-1);
    }
  }
  .divProjects {
    display: flex;
    flex-wrap: wrap;
    gap: 0 70px;
    width: 105%;
  }
}

@media(max-width: 1024px){
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .divProjects{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}