:root{
    --primary-color: #eb3d3d;
    --primary-color-50: #9D2235;
    --secondary-color: #50cf9a;
    --secondary-color-50: #249164;
    --color-white: #E5E9F8;

    --linkedin: #0E76A8;

    --gray-1: #f8f9fa;
    --gray-2: #e9ecef;
    --gray-3: #868e96;
    --gray-4: #212529;

    --font-family: "Inter", sans-serif;
}