.title1 {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 700;
}

.title2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
}

.title3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
}

.title4 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
}

.headline {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
